<template>
    <div class="wrapper">
        <div class="row">
            <h1>Оформление заказа</h1>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h2>Контактные данные</h2>
                <FormGroup
                        v-for="(user, id) in formGroup"
                        :type="user.type"
                        :key="id"
                        :label="user.label"
                        :value="user.value"
                        :nameInput="user.nameInput"
                        :requiredShow="user.requiredShow"
                        :pattern="user.phoneMasks"
                        :errorMessage = "user.errorMessage"
                        v-on:my-input="setСhanges([id, $event])"
                ></FormGroup>
            </div>
            <div class="col">
                <DeliveryMethod
                    v-if="picked"
                    :list="deliveryMethods"
                >
                    <template v-slot:title>
                        <h3>Способ доставки {{picked}}:</h3>
                    </template>

                </DeliveryMethod>
            </div>
            <div class="col">
                <div>
                    <h4>Итого: {{totalPrice}} ₽</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <PaymentMethod></PaymentMethod>
        </div>

        <hr>

        <ul>
            <li
                    v-for="(item, index) in formGroup"
                    :key="index"
            >
                {{item.value}}

            </li>
        </ul>


    </div>
</template>

<script>
    import FormGroup from "./Form-group"
    import PaymentMethod from "./PaymentMethod"
    import { mapGetters, mapActions } from 'vuex';
    import DeliveryMethod from "./DeliveryMethod";

    export default {
        name: 'CheckoutPage',
        data () {
            return {
                selectedCountries: [],
                countries: [],
                isLoading: false,
            }
        },
        components: {
            FormGroup,
            PaymentMethod,
            DeliveryMethod
        },
        computed: {
            ...mapGetters("deliveryMethods", {
                deliveryMethods1: "deliveryMethods",
                deliveryMethods2: "deliveryMethods2",
            }),
            ...mapGetters("contactDetails", {
                formGroup: "formGroup"
            }),
            ...mapGetters( {
                picked: "picked",
                totalPrice: "totalPrice",
                deliveryCost: "deliveryCost"
            }),
            deliveryMethods() {
                if(this.picked == 1) {
                    return this.deliveryMethods1
                }
                else if (this.picked == 2) {
                    return this.deliveryMethods2;
                }
            }
        },
        methods: {
            ...mapActions("contactDetails", {
                getListApi: "getListApi",
                setСhanges: "setList"
            })
        },
        created() {
            this.getListApi();
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    h1 {
        width: 100%;
        text-align: center;
    }
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        text-align: left;
    }
    .row {
        display: flex;
        flex-wrap: wrap;

    }
   .col {
       width: 33%;

       @media (max-width: 768px) {
           width: 100%;
       }
   }
</style>
