<template>
    <div>
        {{count}}
        <button @click="increment()">+</button>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';

    export default {
        name: 'Count',
        computed: {
            ...mapGetters("count", {
                count: 'count'
            }),
        },
        methods: {
            ...mapActions("count", {
                increment: 'increment'
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

</style>
