<!--способ доставки-->
<template>
    <div>
        <slot name="title"></slot>
        <RadioButton
                v-for="(method, id) in list"
                name="name1"
                :picked="deliveryCost"
                :value="method.cost"
                :checked="checked"
                v-on:change="changeCost($event)"
        >
            {{method.name}} ({{method.cost}} ₽)
        </RadioButton>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import RadioButton from "./RadioButton"

    export default {
        name: 'DeliveryMethod',
        data () {
            return {
            }
        },
        props: {
            list: Array,
        },
        components: {
            RadioButton,
        },
        computed: {
            ...mapGetters( {
                deliveryCost: "deliveryCost",
            }),
            checked() {
                return this.deliveryCost !== null
            }
        },
        methods: {
            ...mapActions( {
                changeCost: "changeCost"
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>


</style>
