<template>
    <div>
        <label class="firstText contactsData_Req  checkoutDisplay--media">
            <span v-if="requiredShow" class="required-field" >*</span>
            {{label}}:
        </label>
        <div class="input jsInputBlock" :class="validClass">
            <div>
                <div class="left_pole"></div>
                <div class="form__group">

                    <input type="text"
                           :name="$attrs.name || nameInput"
                           :type="$attrs.type || type || 'text'"
                           v-bind="$attrs"
                           :value="value"
                           class="textfield nameOform form__text_input"
                           @input="onInput"
                    >
                </div>
                <div class="error-message" v-if="errorShow">{{errorMessage}}</div>
                <div class="error-message" v-if="errorMessage"></div>
            </div>
        </div>
    </div>
</template>

<script>

    import Inputmask from 'inputmask';
    import { mapGetters, mapActions } from 'vuex';


    export default {
        inheritAttrs: false,
        data() {
            return {
                activated: this.value != "",
                defaultPattern:  /.+/,
                myVal: ''
            }
        },
        props: {
            label: String,
            value: [String, Number],
            requiredShow: Boolean,
            nameInput: {
                type: String
            },
            errorMessage: String,
            pattern: null,
            type: String
        },
        methods: {
            ...mapActions("contactDetails", {
                setСhanges: "setList"
            }),
            onInput(e) {
                this.activated = true;
                this.$emit('my-input', e.target.value);
            }
        },
        computed: {
            errorShow() {
                    return this.activated && !this.isValid
            },
            isValid(){
                return this.defaultPattern.test(this.value)
            },
            validClass() {
                if (this.activated) {
                    return this.isValid ? 'valid' : 'invalid';
                }
            }
        },
        mounted() {

            Inputmask({
                mask: "+#(###)###-##-##",
                keepStatic: false,
                definitions: {
                    '#': {
                        validator: "[0-9]"
                    }
                },
                showMaskOnHover: false,
                autoUnmask: true
            }).mask(document.getElementsByName("customers_telephone"))
        }

    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

    .input {
        display: inline-block;
    }
    label {
        display: block;
    }
    .form__group {
        position: relative;
        display: inline-block;

        .valid &:before {
            content: "";
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 50%;
            background: url(https://static.mamsy.ru/design/images/reg_form_icons/tick-sign.svg) no-repeat 50%;
            width: 16px;
            height: 16px;
            margin-top: -8px;
        }

        .invalid &:before {
            content: "";
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -9px;
            background: url(https://static.mamsy.ru/design/images/reg_form_icons/exclamation.svg) no-repeat 50%;
            height: 18px;
            width: 18px;
        }
    }

    .error-message {
        color: red;
        font-size: 12px;
        text-align: right;
        line-height: 12px;
        margin: 4px 0;
        max-width: 322px;
    }
    .invalid input {
        border-color: red;
        outline: none;
    }

</style>


