<template>
  <div>
    <h1>
      Страница {{count}}
    </h1>
    <section v-if="errored">
      <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
    </section>
    <section v-else>
      <div v-if="loading">Loading...</div>
      <div v-else>
          {{info}}
          <div
            v-for="(item, id) in info"
          >
              <p>{{item.hello}} - {{id}}</p>

          </div>
      </div>
    </section>
    <slot></slot>
  </div>
</template>

<script>
  import axios from "axios"
  import {mapGetters} from "vuex";

export default {
  name: 'InfoClient',
  data() {
    return {
      info: null,
      loading: true,
      errored: false
    }
  },
  computed: {

      ...mapGetters("count", {
          count: 'count'
      })
  },
  mounted() {
      axios
              .get('http://www.mocky.io/v2/5da896271200002d00edb027?mocky-delay=1000ms')
              .then(response => (this.info = response.data))
              .catch(error => {
                // console.log(error)
                this.errored = true;
              })
              .finally(() => (this.loading = false));

  },
  filters: {
    currencydecimal (value) {
      return value.toFixed(2)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

</style>
