<template>
  <div>

    <h1>Bitcoin Price Index</h1>
    <section v-if="errored">
      <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
    </section>
    <section v-else>
      <div v-if="loading">Loading...</div>
      <div v-else
            v-for="currency in info"
            class="currency"
      >
            {{ currency.description }}
          <span class="lighten">
             <span v-html="currency.symbol"></span>{{ currency.rate_float | currencydecimal }}
          </span>
      </div>
    </section>
    <slot></slot>
  </div>
</template>

<script>
  import axios from "axios"
export default {
  name: 'InfoClient',
  data() {
    return {
      info: null,
      loading: true,
      errored: false
    }
  },
  computed: {
    count() {
        return this.$store.state.count
    }
  },
  mounted() {
    setTimeout( () => {
      axios
              .get('https://api.coindesk.com/v1/bpi/currentprice.json')
              .then(response => (this.info = response.data.bpi))
              .catch(error => {
                console.log(error)
                this.errored = true;
              })
              .finally(() => (this.loading = false));
    }, 3000)

  },
  filters: {
    currencydecimal (value) {
      return value.toFixed(2)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

</style>
