<template>
    <div>
        <h2>Способ оплаты</h2>

        <RadioButton
                :picked="picked"
                :value="1"
                name="name0"
                v-on:change="changePicked($event)"
        >
            Оплата при получении
        </RadioButton>

        <RadioButton
                :picked="picked"
                :value="2"
                name="name0"
                v-on:change="changePicked($event)"
        >
            Банковской картой на сайте
        </RadioButton>
    </div>

</template>

<script>
    import RadioButton from "./RadioButton"
    import { mapGetters, mapActions } from 'vuex'

export default {
    inheritAttrs: false,
    data() {
        return {
            activated: this.value != ""
        }
    },
    components: {
        RadioButton
    },
    props: {
        picked: String,
        value: String
    },
    methods: {
        ...mapActions( {
            changePicked: "changePicked"
        })
    },
    computed: {
    }
}

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>