<template>
    <div class="oformitZakaz__item">
        <label>
            <input id="payment-box_cash2"
                   type="radio"
                   :name="name"
                   :value="value"
                   :checked="checked"
                   class="payment-box__radio"
                    @change="$emit('change', $event.target.value)">
            <span class="custom_input_radio__icon"></span>
            <span class="pay_block payCash"><slot></slot></span>
        </label>
    </div>
</template>

<script>
export default {
    // inheritAttrs: false,
    data() {
        return {
            activated: this.value != ""
        }
    },
    props: {
        picked: String,
        value: Number,
        name: String,
        checked: Boolean
    },
    methods: {
    },
    computed: {
        checkedd(){
            return this.checked === this.value
        }
    }
}

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>