<template>
  <div id="app">
<!--    <Count></Count>-->
    <CheckoutPage></CheckoutPage>

  </div>
</template>

<script>
 // import InfoClient from './components/InfoClient'
 // import Count from './components/Count'
 import CheckoutPage from './components/CheckoutPage'

export default {
  name: 'app',
  components: {
    // InfoClient,
    // Count,
    CheckoutPage
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
